/* Estilos para la navbar */
.navbar {
  width: 207px;
  height: 304px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
  /* Agregar otros estilos según sea necesario */
}

/* Estilos para los botones de la navbar */
.nav-button {
  display: flex;
  width: 207px;
  height: 64px;
  padding: 16px 51px 16px 24px;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin borde */
  color: #B8BED9; /* Cambia el color de texto según tu diseño */
  cursor: pointer; /* Cambia el cursor al pasar el ratón sobre el botón */
  /* Agregar otros estilos según sea necesario */
}

/* Espacio para icono */
.icon {
  width: 24px;
  height: 24px;
  /* Agregar otros estilos de icono según sea necesario */
}
