.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 100%; /* Posiciona debajo del header */
  margin-top: 20px; /* Distancia desde la parte superior */
  padding-top: 20px; /* Espacio adicional arriba */
  margin-left: 40px;
  margin-right: 40px;
}

.nav-item {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  padding: 5px 0;
}

.nav-item img {
  width: 20px; /* Ajusta el tamaño de las imágenes según sea necesario */
  height: 20px;
  margin-right: 10px;
}
