/* Estilos para el logo */
.logo {
  height: 121px;
  flex-shrink: 0;
  margin-top: 7px;
  background: url(../../assets/logo-header.png) center/contain no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Ajusta el ancho del logo */
  width: 272px; /* Agrega esta línea */
}

/* Agrega bordes a cada celda */
.logo,
.buscador,
.user,
.navbar,
.info,
.chat,
.noticias,
.logout,
.footer {
  border: 1px solid black;
  display: flex; /* Usar flexbox para centrar */
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
}

/* Resto de los estilos de tu layout */
.layout {
  width: 95rem;
  height: 99vh;
  flex-shrink: 0;
  border-radius: 2rem;
  background: #f2f8ff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  display: grid;
  grid:
    "logo buscador user" auto
    "navbar info chat" 1fr
    "navbar noticias chat" auto
    "logout footer chat" auto
    / 272px 65% auto; /* Modifica la definición de la cuadrícula */
  gap: 8px;
}



